@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #88ccca;
    --primary-hover: #75afac;
    --background: #f1e7db;
    --black: #0b152e;
    --grey: #484848;
    --grey-disabled: #b4b4b4;
    --content: #1a202c;
    --highlight: #384688;
  }

  .dark {
    --primary: #88ccca;
    --primary-hover: #75afac;
    --background: #202023;
    --black: #151515;
    --grey: #484848;
    --grey-disabled: #b4b4b4;
    --content: #eeeeee;
    --highlight: #384688;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}
